.card {
    width: auto;
    height: 80vh;
    margin: 1rem;
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.13);
    display: flex;
    justify-content: center;
    background-position: center;
    background-size: cover;
    transition: .2s;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &:hover {
        transform: scale(1.02);
        -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.39);
        box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.39);
    }
}