<div class="about">
    <h2>Projeto Valorant</h2>
    <div class="informations">
        <p>Projeto constuido utilizando o Framework Angular, buscando informações através de uma REST API com
            informações sobre o jogo Valorant.</p>
        <p class="dev-infos">Por Carlos Canal - Desenvolvedor Front-end</p>
        <p>Créditos: <a href="https://valorant-api.com" target="_blank">valorant-api.com</a></p>
    </div>
    <div class="medias-links">
        <a href="https://linkedin.com/in/carlos-canal/" target="_blank"><img src="..\assets\icons\linkedin.svg"
                alt="linkedin"></a>
        <a href="https://github.com/CarlosACanal" target="_blank"><img src="..\assets\icons\github.svg"
                alt="github"></a>
        <a href="mailto:carlos_canal04@hotmail.com"><img src="..\assets\icons\email.svg" alt="email"></a>
    </div>
</div>