.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    grid-gap: 20px;
    justify-content: center;
    padding: 30px;

    .card {
        cursor: pointer;
    }
}
