.nav-bar {
    height: 70px;
    width: 100%;
    -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.75);
    background-color: var(--dark-blue);
    position: fixed;
    top: 0;
    z-index: 10;

    nav {
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 120px;
            cursor: pointer;
        }
        
        .menu-toggle {
            border: none;
            background: none;
        }

        .menu-toggle::before {
            content: "≡";
            font-size: 40px;
            color: var(--pink);
            float: right;
            margin-left: 5px;
        }

        .opt-list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                padding: 0 1rem;

                a {
                    color: var(--white);
                    text-decoration: none;
                    display: inline-block;
                    position: relative;
                    padding: 0.5rem 0.7rem;

                    &:after {
                        content: "";
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: var(--pink);
                        transform-origin: bottom left;
                        transition: transform 0.2s ease-out;
                    }

                    &:hover:after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }

    .active-route-detail {
        border-bottom: 2px solid var(--pink);
    }

    @media screen and (max-width: 600px) {
        .opt-list {
            flex-direction: column;
            display: none !important;
        }

        .responsive-menu {
            display: block !important;
            position: absolute;
            top: 65px;
            right: 0;
            background-color: var(--white);
            border-radius: 5px;
            padding: 10px;
            a {
                color: var(--dark-blue) !important;
            }
        }
    }
}
