:host {
    width: 100vw;
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: calc(100vh - 70px);
    grid-template-areas: "agent-image agent-infos";
}

.agent-image {
    grid-area: agent-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    img {
        max-width: 100%;
        height: calc(100vh - 75px);
        object-fit: cover;
    }
}

.agent-infos {
    grid-area: agent-infos;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    padding: 2rem 4rem;
    margin-bottom: 1rem;
    -webkit-clip-path: polygon(0 0, 0 50%, 10% 10%, 10% 25%, 75% 0);
    clip-path: polygon(0 0, 0 90%, 10% 100%, 100% 100%, 100% 0);

    h2 {
        font-size: 4rem;
        font-weight: 800;
        font-family: var(--font-secondary);
    }

    .agent-primary-infos {
        display: flex;
        padding-bottom: 2rem;
        align-items: center;
        justify-content: space-between;

        hr {
            flex-grow: 1;
            margin: 0 10px;
            border: 1px solid var(--pink);
        }
    }

    .agent-description{
        h3 {
            font-weight: 800;
        }
        p {
            width: 600px;
            line-height: 25px;
            font-size: 14px;
        }
    }

    .agent-infos__role {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;

        img {
            width: 35px;
            margin-right: 0.5rem;
            filter: brightness(0.1);
        }
    }
}

.agent-abilities {
    display: flex;
    color: var(--white);
    flex-direction: column;
    margin-top: 1rem;

    .abilities-title {
        font-size: 2rem;
        font-weight: 800;
        font-family: var(--font-secondary);
    }

    ul {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        align-items: center;

        li {
            cursor: pointer;
            margin: 0 1rem;
            display: flex;
            flex-direction: column;

            .abilitie-icon {
                width: 90px;
                padding: 1rem;
                border-radius: 5px;
                filter: brightness(0);
                transition: .2s;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.44);
                    background-color: var(--pink);
                    filter: brightness(1);
                }
            }
        }

    }

}

span {
    width: 90%;
    align-self: center;

    .abilitie-description {
        margin-top: 2rem;

        .description-title {
            font-family: var(--font-secondary);
            font-size: 1.8rem;
            text-align: center;
        }

        .description-description {
            margin-top: 0.5rem;
            line-height: 20px;
            text-align: center;
            font-size: 14px;
        }
    }
}

.selected-abilitie {
    transform: scale(1.05);
    box-shadow: 0px 0px 22px -6px rgba(0, 0, 0, 0.44);
    background-color: var(--pink);
    filter: brightness(1) !important;
}