    <div class="agent-image" [ngStyle]=" {'background-image': 'url(' + agent?.background + ')'}">
        <img [src]="agent?.bustPortrait" [alt]="'Agente ' + agent?.displayName">
    </div>
    <section class="agent-infos" [style.background]="'#'+agent?.backgroundGradientColors[1]">
        <div style="display: flex; align-items: center; padding: 3rem 4rem;">
            <div class="agent-primary-infos">
                <h2>{{agent?.displayName}}</h2>
                <div class="agent-infos__role">
                    <img [src]="agent?.role?.displayIcon" alt="'Icone da classe do agente'">
                    <span>{{agent?.role?.displayName}}</span>
                </div>
            </div>
            <div class="agent-description">
                <p>{{agent?.description}}</p>
            </div>
        </div>
        <div class="agent-abilities" [style.background]="'#' + agent?.backgroundGradientColors[1]">
            <h3 class="abilities-title">Habilidades:</h3> <br>
            <ul>
                <li *ngFor="let abilitie of agent?.abilities; let i= index" (click)="showAbilitie(i)">
                    <div class="abilitie-icons">
                        <img class="abilitie-icon" [src]="abilitie.displayIcon" alt="Habilidade {{abilitie.displayName}}"
                            *ngIf="i < 4" [ngClass]="{'selected-abilitie' : selectedAbilitie === i}">
                    </div>
                </li>
            </ul>
            <span *ngFor="let abilitie of agent?.abilities; let i= index">
                <div class="abilitie-description" *ngIf="selectedAbilitie === i">
                    <h4 class="description-title">{{abilitie.displayName}}</h4>
                    <p class="description-description">{{abilitie.description}}</p>
                </div>
            </span>
        </div>
    </section>