:host {
    width: 100%;
    height: 100%;
    display: flex;
}

.agent-image {
    height: 100%;
    max-width: 40%;
    min-width: 40%;
    background-position: center;
    background-repeat: no-repeat;

    img {
        max-width: 100%;
        height: calc(100vh - 75px);
        object-fit: cover;

    }
}

.agent-infos {
    flex-grow: 1;
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    position: relative;
    -webkit-clip-path: polygon(0 0, 0 50%, 10% 10%, 10% 25%, 75% 0);
    clip-path: polygon(0 0, 0 90%, 10% 100%, 100% 100%, 100% 0);
    box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.587) !important;

    h2 {
        font-size: 10rem;
        font-weight: 800;
        font-family: var(--font-secondary);
    }

    .agent-primary-infos {
        padding: 4rem 4rem 2rem 4rem;

        p {
            width: 600px;
            line-height: 25px
        }
    }

    .agent-infos__role {
        display: flex;
        padding: 1rem 0 2rem 0;
        align-items: center;
        font-size: 18px;
        margin-left: 0.5rem;

        img {
            width: 40px;
            margin-right: 0.5rem;
        }
    }
}

.agent-abilities {
    display: flex;
    color: var(--white);
    align-items: center;
    padding: 0rem 4rem;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        li {
            display: flex;
            align-items: center;
            width: 45%;
            padding: 1rem;

            .abilitie-img {
                width: 90px;
            }

            .abilitie-description {
                margin-left: 1.5rem;

                .description-title {
                    font-family: var(--font-secondary);
                    font-size: 1.8rem;
                }

                .description-description {
                    margin-top: 0.5rem;
                    font-size: 0.9rem;
                    line-height: 20px
                }
            }
        }
    }

}