<div class="about">
    <h2>Projeto Valorant</h2>
    <p>
      Projeto desenvolvido com o framework <strong>Angular 14</strong>, consumindo dados de uma <strong>REST API pública</strong> com informações detalhadas sobre o    jogo <strong>Valorant</strong>.
    </p>
    <p>
      A aplicação utiliza <strong>NgRx</strong> para gerenciamento de estado global, garantindo uma estrutura reativa, escalável e performática.
    </p>
    <p>
      Também foram aplicadas práticas modernas de desenvolvimento front-end, como componentização, responsividade e organização com SCSS modular.
    </p>
    <p class="dev-infos">
      Por <strong>Carlos Canal</strong> – Frontend Engineer |
      <a href="https://dev-carloscanal.vercel.app/" target="_blank">carloscanal.dev</a>
    </p>
    <div class="medias-links">
      <a href="https://linkedin.com/in/carlos-canal/" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-plain.svg" alt="linkedin" />
      </a>
      <!-- <a href="https://github.com/CarlosACanal" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="github" />
      </a> -->
      <a href="mailto:carlos_canal04@hotmail.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/feathericons/feather/icons/mail.svg" alt="email" />
      </a>
    </div>
  </div>
  